<a href="https://colab.research.google.com/github/RajkumarArigela/Advance-python/blob/main/EDA_short_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [ ]:
#Read the data in pandas
inp0= pd.read_excel("Attribute+DataSet (2).xlsx")
inp1= pd.read_excel("Dress+Sales (1).xlsx")

In [ ]:
inp0

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,Brief,Average,4.7,Medium,winter,o-neck,halfsleeve,acrylic,chiffon,NaN,striped,0
475,713391965,Casual,Low,4.7,Medium,Spring,o-neck,full,polyster,NaN,NaN,solid,1
476,532874347,Casual,Average,4.7,Medium,Summer,v-neck,full,cotton,NaN,lace,solid,1
477,655464934,Casual,Average,4.6,Large,winter,boat-neck,sleevless,silk,broadcloth,applique,print,1
478,919930954,Casual,Low,4.4,free,Summer,v-neck,short,cotton,Corduroy,lace,solid,0

In [ ]:
inp1

,Dress_ID,29-08-2013,31-08-2013,14-09-2013,16-09-2013,18-09-2013,20-09-2013,22-09-2013,24-09-2013,28-09-2013,Summer,Autumn
0,1006032852,2114.0,2274,3204.0,3277.0,3321.0,3386.0,3479.0,3554,3706,4388.0,23927.0
1,1212192089,151.0,275,1756.0,1878.0,1985.0,2106.0,2454.0,2710,3258,426.0,16147.0
2,1190380701,6.0,7,10.0,10.0,10.0,10.0,11.0,11,11,13.0,73.0
3,966005983,1005.0,1128,1746.0,1783.0,1796.0,1812.0,1845.0,1878,1914,2133.0,12774.0
4,876339541,996.0,1175,1655.0,1681.0,1743.0,1824.0,1919.0,2032,2252,2171.0,13106.0
...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,0.0,0,68.0,69.0,70.0,72.0,73.0,73,75,0.0,500.0
475,713391965,0.0,0,519.0,511.0,501.0,492.0,480.0,400,360,0.0,3263.0
476,532874347,0.0,0,690.0,686.0,674.0,665.0,658.0,616,586,0.0,4575.0
477,655464934,0.0,0,270.0,272.0,272.0,264.0,264.0,257,255,0.0,1854.0
478,919930954,0.0,0,585.0,590.0,599.0,605.0,619.0,628,639,0.0,4265.0

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [ ]:
# Print the information about the attributes of inp0 and inp1.
print(inp0.info())
print(inp1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    int64
 1   29-08-2013  479 non-null    float32
 2   31-08-2013  479 non-null    int64
 3   14-09-2013  478 non-null    float32
 4   16-09-2013  478 non-null    float32
 5   18-09-2013  478 non-null    float32
 6   20-09-2013  478 non-null    float32
 7   22-09-2013  478 non-null    float32
 8   24-09-2013  479 non-null    int64
 9   28-09-2013  479 non-null    int64
 10  Summer      479 non-null    float64
 11  Autumn      479 non-null    float64
dtypes: float32(6), float64(2), int64(4)
memory usage: 33.8 KB
None

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [ ]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
inp0['Size']=inp0['Size'].replace({"M":"Medium",
"L" : "Large",
"XL" : "Extra large",
"free ": "Free",
"S": "Small",
"s":"Small"})
count_size=inp0['Size'].value_counts()
totalcount=inp0['Size'].count()
percentage=(count_size/totalcount)*100
percentage

Size
Medium         35.699374
free           34.446764
Large          19.415449
Small           7.306889
Extra large     2.922756
small           0.208768
Name: count, dtype: float64

In [ ]:
# Print the value counts of each category in "Size" column.
print(inp0['Size'].value_counts())

Size
Medium         171
free           165
Large           93
Small           35
Extra large     14
small            1
Name: count, dtype: int64

### Impute/Remove Missing values

In [ ]:
# Print the null count of each variables of inp0 and inp1.
print(inp0.isnull().count())
print(inp1.isnull().sum())

Dress_ID          479
Style             479
Price             479
Rating            479
Size              479
Season            479
NeckLine          479
SleeveLength      479
Material          479
FabricType        479
Decoration        479
Pattern Type      479
Recommendation    479
dtype: int64
Dress_ID      0
29-08-2013    0
31-08-2013    0
14-09-2013    1
16-09-2013    1
18-09-2013    1
20-09-2013    1
22-09-2013    1
24-09-2013    0
28-09-2013    0
Summer        0
Autumn        0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [ ]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
print(inp1.dtypes)

Dress_ID        int64
29-08-2013    float32
31-08-2013      int64
14-09-2013    float32
16-09-2013    float32
18-09-2013    float32
20-09-2013    float32
22-09-2013    float32
24-09-2013      int64
28-09-2013      int64
Summer        float64
Autumn        float64
dtype: object

In [ ]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#inp1['09-12-2013']=inp1['09-12-2013'].astype('float64')

In [ ]:
print(inp1.columns.tolist())

['Dress_ID', '29-08-2013', '31-08-2013', '14-09-2013', '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013', '24-09-2013', '28-09-2013', 'Summer', 'Autumn']

In [ ]:
inp1.columns = inp1.columns.str.strip()

In [ ]:
inp1.replace(['Removed', 'removed', 'orders'], np.nan, inplace=True)

In [ ]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.
inp1.loc[inp1['29-08-2013'] == 'Removed', '29-08-2013'] = np.nan
inp1.loc[inp1['14-09-2013'] == 'removed', '14-09-2013'] = np.nan
inp1.loc[inp1['16-09-2013'] == 'removed', '16-09-2013'] = np.nan
inp1.loc[inp1['18-09-2013'] == 'removed', '18-09-2013'] = np.nan
inp1.loc[inp1['20-09-2013'] == 'removed', '20-09-2013'] = np.nan
inp1.loc[inp1['22-09-2013'] == 'orders', '22-09-2013'] = np.nan

In [ ]:
inp1.isnull().sum().value_counts(normalize=True)

0    0.642857
1    0.357143
Name: proportion, dtype: float64

In [ ]:
inp1.isnull().sum()

Dress_ID      0
29-08-2013    0
31-08-2013    0
14-09-2013    1
16-09-2013    1
18-09-2013    1
20-09-2013    1
22-09-2013    1
24-09-2013    0
28-09-2013    0
Summer        0
Autumn        0
dtype: int64

In [ ]:
inp1.dtypes

Dress_ID        int64
29-08-2013    float32
31-08-2013      int64
14-09-2013    float32
16-09-2013    float32
18-09-2013    float32
20-09-2013    float32
22-09-2013    float32
24-09-2013      int64
28-09-2013      int64
Summer        float64
Autumn        float64
dtype: object

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [ ]:
# Convert the object type columns in "Dress Sales" into float type of data type
inp1['29-08-2013'] = pd.to_numeric(inp1['29-08-2013'], errors='coerce',downcast='float')
inp1['14-09-2013'] = pd.to_numeric(inp1['14-09-2013'], errors='coerce',downcast='float')
inp1['16-09-2013'] = pd.to_numeric(inp1['16-09-2013'], errors='coerce',downcast='float')
inp1['18-09-2013'] = pd.to_numeric(inp1['18-09-2013'], errors='coerce',downcast='float')
inp1['20-09-2013'] = pd.to_numeric(inp1['20-09-2013'], errors='coerce',downcast='float')
inp1['22-09-2013'] = pd.to_numeric(inp1['22-09-2013'], errors='coerce',downcast='float')

In [ ]:
# Print the null percetange of each column of inp1.
a=inp1.isnull().sum()/len(inp1.index)*100

In [ ]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
b=a[a>40].index
inp1=inp1.drop(columns=b)
inp1

,Dress_ID,29-08-2013,31-08-2013,14-09-2013,16-09-2013,18-09-2013,20-09-2013,22-09-2013,24-09-2013,28-09-2013,Summer,Autumn
0,1006032852,2114.0,2274,3204.0,3277.0,3321.0,3386.0,3479.0,3554,3706,4388.0,23927.0
1,1212192089,151.0,275,1756.0,1878.0,1985.0,2106.0,2454.0,2710,3258,426.0,16147.0
2,1190380701,6.0,7,10.0,10.0,10.0,10.0,11.0,11,11,13.0,73.0
3,966005983,1005.0,1128,1746.0,1783.0,1796.0,1812.0,1845.0,1878,1914,2133.0,12774.0
4,876339541,996.0,1175,1655.0,1681.0,1743.0,1824.0,1919.0,2032,2252,2171.0,13106.0
...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,0.0,0,68.0,69.0,70.0,72.0,73.0,73,75,0.0,500.0
475,713391965,0.0,0,519.0,511.0,501.0,492.0,480.0,400,360,0.0,3263.0
476,532874347,0.0,0,690.0,686.0,674.0,665.0,658.0,616,586,0.0,4575.0
477,655464934,0.0,0,270.0,272.0,272.0,264.0,264.0,257,255,0.0,1854.0
478,919930954,0.0,0,585.0,590.0,599.0,605.0,619.0,628,639,0.0,4265.0

In [ ]:
inp1.isnull().sum()

Dress_ID      0
29-08-2013    0
31-08-2013    0
14-09-2013    1
16-09-2013    1
18-09-2013    1
20-09-2013    1
22-09-2013    1
24-09-2013    0
28-09-2013    0
Summer        0
Autumn        0
dtype: int64

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [ ]:
import pandas as pd

# Create a copy of inp1 just in case
df = inp1.copy()

# Exclude non-date columns like 'Dress_ID'
date_cols = [col for col in df.columns if col not in ['Dress_ID', 'Summer', 'Autumn', 'Winter', 'Spring']]

# Define empty lists for seasonal columns
summer_cols = []
autumn_cols = []
winter_cols = []
spring_cols = []

# Categorize columns based on month
for col in date_cols:
    try:
        month = pd.to_datetime(col, dayfirst=True).month
        if month in [6, 7, 8]:
            summer_cols.append(col)
        elif month in [9, 10, 11]:
            autumn_cols.append(col)
        elif month in [12, 1, 2]:
            winter_cols.append(col)
        elif month in [3, 4, 5]:
            spring_cols.append(col)
    except Exception as e:
        print(f"Skipping column {col}: {e}")

# Sum the columns by season
df['Summer'] = df[summer_cols].sum(axis=1)
df['Autumn'] = df[autumn_cols].sum(axis=1)
df['Winter'] = df[winter_cols].sum(axis=1)
df['Spring'] = df[spring_cols].sum(axis=1)

# Update inp1 if needed
inp1 = df

In [ ]:
inp1

,Dress_ID,29-08-2013,31-08-2013,14-09-2013,16-09-2013,18-09-2013,20-09-2013,22-09-2013,24-09-2013,28-09-2013,Summer,Autumn,Winter,Spring
0,1006032852,2114.0,2274,3204.0,3277.0,3321.0,3386.0,3479.0,3554,3706,4388.0,23927.0,0.0,0.0
1,1212192089,151.0,275,1756.0,1878.0,1985.0,2106.0,2454.0,2710,3258,426.0,16147.0,0.0,0.0
2,1190380701,6.0,7,10.0,10.0,10.0,10.0,11.0,11,11,13.0,73.0,0.0,0.0
3,966005983,1005.0,1128,1746.0,1783.0,1796.0,1812.0,1845.0,1878,1914,2133.0,12774.0,0.0,0.0
4,876339541,996.0,1175,1655.0,1681.0,1743.0,1824.0,1919.0,2032,2252,2171.0,13106.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,0.0,0,68.0,69.0,70.0,72.0,73.0,73,75,0.0,500.0,0.0,0.0
475,713391965,0.0,0,519.0,511.0,501.0,492.0,480.0,400,360,0.0,3263.0,0.0,0.0
476,532874347,0.0,0,690.0,686.0,674.0,665.0,658.0,616,586,0.0,4575.0,0.0,0.0
477,655464934,0.0,0,270.0,272.0,272.0,264.0,264.0,257,255,0.0,1854.0,0.0,0.0
478,919930954,0.0,0,585.0,590.0,599.0,605.0,619.0,628,639,0.0,4265.0,0.0,0.0

In [ ]:
print (inp0['Season'])

0      Summer
1      Summer
2      Automn
3      Spring
4      Summer
        ...
474    winter
475    Spring
476    Summer
477    winter
478    Summer
Name: Season, Length: 479, dtype: object

In [ ]:
print(inp1.columns)

Index(['Dress_ID', '29-08-2013', '31-08-2013', '14-09-2013', '16-09-2013',
       '18-09-2013', '20-09-2013', '22-09-2013', '24-09-2013', '28-09-2013',
       'Summer', 'Autumn', 'Winter', 'Spring'],
      dtype='object')

In [ ]:
df=inp1.copy()

In [ ]:
# Create the four seasons columns in inp1, according to the above criteria.
#29-08-2013 31-08-2013  14-09-2013  16-09-2013  18-09-2013  20-09-2013  22-09-2013  24-09-2013  28-09-2013
inp1['Summer']=inp1['31-08-2013']+inp1['28-08-2013']+inp1['10-06-2013']+inp1['10-08-2013']
inp1['Autumn']=inp1['09-10-2013']+inp1['14-09-2013']+inp1['16-09-2013']+inp1['18-09-2013']+inp1['20-09-2013']+inp1['22-09-2013']+inp1['24-09-2013']+inp1['26-09-2013']+inp1['28-09-2013']+inp1['30-09-2013']+inp1['10-10-2013']
inp1['Winter']=inp1['09-02-2013']+inp1['10-02-2013']+inp1['09-12-2013']+inp1['10-12-2013']
inp1['Spring']=inp1['09-04-2013']+inp1['10-04-2013']

In [ ]:
print(inp1['Summer'].sum())
print(inp1['Autumn'].sum())
print(inp1['Winter'].sum())
print(inp1['Spring'].sum())

195366.0
1209960.0
0.0
0.0

In [ ]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
season_totals = inp1[['Summer', 'Autumn', 'Winter', 'Spring']].sum()
print(season_totals)

Summer     195366.0
Autumn    1209960.0
Winter          0.0
Spring          0.0
dtype: float64

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [ ]:
def combine_datasets(inp0,inp1):
    # Merge inp0 with inp1 into inp0. this is also called left merge.
    inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
    inp0.head()
    return inp0

In [ ]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons
def drop_columns():
    inp0.drop(inp0.loc[:, '24-09-2013':'28-09-2013'].columns, axis=1, inplace=True)

Print the null count of inp0 to get the idea about the missing values in data set.

In [ ]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

inp1 =inp1.astype(float)
inp1.isnull().sum()

Dress_ID      0
29-08-2013    0
31-08-2013    0
14-09-2013    1
16-09-2013    1
18-09-2013    1
20-09-2013    1
22-09-2013    1
24-09-2013    0
28-09-2013    0
Summer        0
Autumn        0
Winter        0
Spring        0
dtype: int64

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn.

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [ ]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
def drop_missing_type1_rows(inp0):

    inp0 = inp0[~inp0.Price.isnull()]
    inp0 = inp0[~inp0.Season.isnull()]
    inp0 = inp0[~inp0.NeckLine.isnull()]
    inp0 = inp0[~inp0.SleeveLength.isnull()]
    inp0 = inp0[~inp0.Winter.isnull()]
    inp0 = inp0[~inp0.Autumn.isnull()]
    return inp0

In [ ]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
def newcateg_replace_null_with_Missing(inp0):

    inp0.Material= inp0.Material.replace(np.nan, "Missing")

    inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

    inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")
    inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")
    return inp0

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.

- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [ ]:
#correcting the spellings.

#inp0['Season'] = inp0['Season'].str.strip().str.lower().replace({
    'spring': 'Spring',
    'summer': 'Summer',
    'winter': 'Winter',
    'autumn': 'Autumn',})

IndentationError: unexpected indent (<ipython-input-279-705952985d4e>, line 4)

In [ ]:
#correcting the Spellings.

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [ ]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.
inp0['Style'] =inp0['Style'].apply(lambda x: 'others' if x in styles_to_group else x)
# Display updated style distribution
print(inp0['Style'].value_counts())

TypeError: 'NoneType' object is not subscriptable

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.
style_percentage = df['Style'].value_counts(normalize=True) * 100

# Get percentages for 'cute' and 'others'
cute_percent = style_percentage.get('cute', 0)
others_percent = style_percentage.get('others', 0)

# Print the results
print(f"Percentage of 'cute': {cute_percent:.1f}%")
print(f"Percentage of 'others': {others_percent:.1f}%")

KeyError: 'Style'

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.